delta load/activities/pl01_ForEach_Tables_SP.json
{
    "name": "ForEach_Tables_SP",
    "type": "ForEach",
    "dependsOn": [
        {
            "activity": "Wait_for_7-8_minutes",
            "dependencyConditions": [
                "Succeeded"
            ]
        }
    ],
    "userProperties": [],
    "typeProperties": {
        "items": {
            "value": "@pipeline().parameters.SP_Tables",
            "type": "Expression"
        },
        "activities": [
            {
                "name": "Stored procedure",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": {
                        "value": "@concat('dbo.',item(),'_UPSERT')",
                        "type": "Expression"
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureSynapseAnalytics",
                    "type": "LinkedServiceReference"
                }
            }
        ]
    }
}