delta load/pipelines/Pl02_IncrementalLoad_ORAC_TO_SynapseDW.json
{
    "name": "Pl02_IncrementalLoad_ORAC_TO_SynapseDW",
    "properties": {
        "activities": [
            {
                "name": "Lookup_Configuration_Data",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": false,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "DS01_ORAC_Configuration_File",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach2",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup_Configuration_Data",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup_Configuration_Data').output.value",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "activities": [
                        {
                            "name": "Lookup_TableCount",
                            "type": "Lookup",
                            "dependsOn": [
                                {
                                    "activity": "Lookup_MaxDate",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "OracleSource",
                                    "oracleReaderQuery": {
                                        "value": "SELECT COUNT(*) AS datacount FROM @{item().Schema}.@{item().Table} WHERE (to_char(@{item().InsertDateField}, 'yyyy-MM-dd') > '@{activity('Lookup_MaxDate').output.firstRow.MAXINSERT}' OR to_char(@{item().UpdateDateField}, 'yyyy-MM-dd') > '@{activity('Lookup_MaxDate').output.firstRow.MAXUPDATE}') @{if(equals(item().PMC,'Yes'), 'AND PRINCIPAL_MAP_CD =1' , '')}",
                                        "type": "Expression"
                                    },
                                    "partitionOption": "None",
                                    "queryTimeout": "02:00:00"
                                },
                                "dataset": {
                                    "referenceName": "DS01_OracleTable",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "tablename": {
                                            "value": "@{item().Table}",
                                            "type": "Expression"
                                        },
                                        "schemaname": {
                                            "value": "@{item().Schema}",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "firstRowOnly": false
                            }
                        },
                        {
                            "name": "TableCount_Check_",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "Lookup_TableCount",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@equals(activity('Lookup_TableCount').output.value[0].datacount, 0)",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [
                                    {
                                        "name": "Copy_ORAC_TO_ADLS",
                                        "type": "Copy",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "7.00:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "OracleSource",
                                                "oracleReaderQuery": {
                                                    "value": "SELECT * FROM @{item().Schema}.@{item().Table} WHERE (to_char(@{item().InsertDateField}, 'yyyy-MM-dd') > '@{activity('Lookup_MaxDate').output.firstRow.MAXINSERT}' OR to_char(@{item().UpdateDateField}, 'yyyy-MM-dd') > '@{activity('Lookup_MaxDate').output.firstRow.MAXUPDATE}')  @{if(equals(item().PMC,'Yes'), 'AND PRINCIPAL_MAP_CD =1' , '')}",
                                                    "type": "Expression"
                                                },
                                                "partitionOption": "None",
                                                "queryTimeout": "02:00:00"
                                            },
                                            "sink": {
                                                "type": "SqlDWSink",
                                                "preCopyScript": {
                                                    "value": "truncate table Staging.@{item().Table}",
                                                    "type": "Expression"
                                                },
                                                "allowPolyBase": true,
                                                "polyBaseSettings": {
                                                    "rejectValue": 0,
                                                    "rejectType": "value",
                                                    "useTypeDefault": false
                                                },
                                                "disableMetricsCollection": false
                                            },
                                            "enableStaging": true,
                                            "stagingSettings": {
                                                "linkedServiceName": {
                                                    "referenceName": "IncompatibleData",
                                                    "type": "LinkedServiceReference"
                                                },
                                                "path": "poc/Incompatible Data/7656fd97-4b41-473c-b4a8-533a1a6b8e63"
                                            },
                                            "enableSkipIncompatibleRow": true,
                                            "redirectIncompatibleRowSettings": {
                                                "linkedServiceName": {
                                                    "referenceName": "IncompatibleData",
                                                    "type": "LinkedServiceReference"
                                                },
                                                "path": "poc/Incompatible Data/7656fd97-4b41-473c-b4a8-533a1a6b8e63"
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "DS01_OracleTable",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "tablename": {
                                                        "value": "@{item().Table}",
                                                        "type": "Expression"
                                                    },
                                                    "schemaname": {
                                                        "value": "@{item().Schema}",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "DS01_SynapseTable",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "Table": {
                                                        "value": "@item().Table",
                                                        "type": "Expression"
                                                    },
                                                    "Schema": "Staging"
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "name": "Lookup_MaxDate",
                            "type": "Lookup",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "SqlDWSource",
                                    "sqlReaderQuery": {
                                        "value": "SELECT format(convert(date, MAX(@{item().InsertDateField}),105), 'yyyy-MM-dd') AS MAXINSERT, format(convert(date, MAX(@{item().UpdateDateField}),105), 'yyyy-MM-dd') AS MAXUPDATE FROM Landing.@{item().Table}",
                                        "type": "Expression"
                                    },
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "dataset": {
                                    "referenceName": "DS01_SynapseTable",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "Table": {
                                            "value": "@item().Table",
                                            "type": "Expression"
                                        },
                                        "Schema": "Landing"
                                    }
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "folder": {
            "name": "Delta Load"
        },
        "annotations": [],
        "lastPublishTime": "2020-06-04T14:01:36Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}