historical load/pipelines/Pl04_FullLoad_ORACTransaction_TO_ADLS.json
{
    "name": "Pl04_FullLoad_ORACTransaction_TO_ADLS",
    "properties": {
        "activities": [
            {
                "name": "Lookup_Configuration_Data",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": false,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "DS03_ORACTransactionConfiguration",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach2",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup_Configuration_Data",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup_Configuration_Data').output.value",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "activities": [
                        {
                            "name": "Lookup_TableCount",
                            "type": "Lookup",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "OracleSource",
                                    "oracleReaderQuery": {
                                        "value": "SELECT COUNT(*) AS datacount FROM @{item().Schema}.@{item().Table} WHERE (to_char(@{item().InsertDateField}, 'yyyy-MM-dd') BETWEEN @{item().FiscalYear} OR to_char(@{item().UpdateDateField}, 'yyyy-MM-dd') BETWEEN @{item().FiscalYear}) @{if(equals(item().PMC,'Yes'), 'AND PRINCIPAL_MAP_CD =1' , '')}",
                                        "type": "Expression"
                                    },
                                    "partitionOption": "None",
                                    "queryTimeout": "02:00:00"
                                },
                                "dataset": {
                                    "referenceName": "DS01_OracleTable",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "tablename": {
                                            "value": "@{item().Table}",
                                            "type": "Expression"
                                        },
                                        "schemaname": {
                                            "value": "@{item().Schema}",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "firstRowOnly": false
                            }
                        },
                        {
                            "name": "TableCount_Check_",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "Lookup_TableCount",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@equals(activity('Lookup_TableCount').output.value[0].datacount, 0)",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [
                                    {
                                        "name": "Copy_ORAC_TO_ADLS",
                                        "type": "Copy",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "7.00:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "OracleSource",
                                                "oracleReaderQuery": {
                                                    "value": "SELECT * FROM @{item().Schema}.@{item().Table} WHERE (to_char(@{item().InsertDateField}, 'yyyy-MM-dd') BETWEEN @{item().FiscalYear} OR to_char(@{item().UpdateDateField}, 'yyyy-MM-dd') BETWEEN @{item().FiscalYear} ) @{if(equals(item().PMC,'Yes'), 'AND PRINCIPAL_MAP_CD =1' , '')}",
                                                    "type": "Expression"
                                                },
                                                "partitionOption": "None",
                                                "queryTimeout": "02:00:00"
                                            },
                                            "sink": {
                                                "type": "AvroSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "AvroWriteSettings",
                                                    "quoteAllText": true
                                                }
                                            },
                                            "enableStaging": true,
                                            "stagingSettings": {
                                                "linkedServiceName": {
                                                    "referenceName": "IncompatibleData",
                                                    "type": "LinkedServiceReference"
                                                },
                                                "path": "poc/Incompatible Data/7656fd97-4b41-473c-b4a8-533a1a6b8e63"
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "DS01_OracleTable",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "tablename": {
                                                        "value": "@{item().Table}",
                                                        "type": "Expression"
                                                    },
                                                    "schemaname": {
                                                        "value": "@{item().Schema}",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "DS04_AvroFiles",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "File_Name": {
                                                        "value": "@concat(item().Table,'_','FY_',substring(item().FiscalYear,1,4),'-',substring(item().FiscalYear,18,4))",
                                                        "type": "Expression"
                                                    },
                                                    "Container_Name": {
                                                        "value": "@concat('FY_',substring(item().FiscalYear,1,4),'-',substring(item().FiscalYear,18,4))",
                                                        "type": "Expression"
                                                    },
                                                    "Folder_Name": {
                                                        "value": "@item().Table",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                }
            }
        ],
        "folder": {
            "name": "Historical Load"
        },
        "annotations": [],
        "lastPublishTime": "2020-06-04T14:01:37Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}